<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<form method="POST" class="post-form" action="/update/{{film.id}}">
        {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>Update Details</h3>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Film Name:</label>
            <label class="col-sm-2 col-form-label">Current: {{ film.name }}</label>
            <div class="col-sm-4">
                {{ form.name }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">KinoPoisk rating:</label>
            <label class="col-sm-2 col-form-label">Current: {{ film.kinopoisk_rating }}</label>
            <div class="col-sm-4">
                {{ form.kinopoisk_rating }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">IMDb rating:</label>
            <label class="col-sm-2 col-form-label">Current: {{ film.IMDb_rating }}</label>
            <div class="col-sm-4">
                {{ form.IMDb_rating }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Rotten Tomatoes rating:</label>
            <label class="col-sm-2 col-form-label">Current: {{ film.RT_rating }}</label>
            <div class="col-sm-4">
                {{ form.RT_rating }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Year:</label>
            <label class="col-sm-2 col-form-label">Current: {{ film.year }}</label>
            <div class="col-sm-4">
                {{ form.year }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Duration:</label>
            <label class="col-sm-2 col-form-label">Current: {{ film.duration }}</label>
            <div class="col-sm-4">
                {{ form.duration }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>
