<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Film Library Records</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Film ID</th>
        <th>Film Name</th>
        <th>Film Rating</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
{% for film in films %}
    <tr>
        <td>{{ film.id }}</td>
        <td>{{ film.name }}</td>
        <td>{{ film.rating }}</td>
        <td>
            <a href="/update/{{ film.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a href="/delete/{{ film.id }}">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/create" class="btn btn-primary">Add New Record</a></center>
</body>
</html>
